@media only screen and (min-width:1000px) and (max-width:5000px) {
    body.kc-css-system .kc-css-476107 {
        width: 100%;
    }
    body.kc-css-system .kc-css-779321 {
        width: 100%;
    }
    body.kc-css-system .kc-css-832738 {
        width: 50%;
    }
    body.kc-css-system .kc-css-61811 {
        width: 50%;
    }
    body.kc-css-system .kc-css-802234 {
        width: 39.89%;
    }
    body.kc-css-system .kc-css-944508 {
        width: 60.1%;
    }
    body.kc-css-system .kc-css-912030 {
        width: 50%;
    }
    body.kc-css-system .kc-css-201329 {
        width: 50%;
    }
}

body.kc-css-system .kc-css-250817 {
    background: linear-gradient(65deg, #1b9cf6, #31dec0);
    overflow: hidden;
    position: relative;
}

body.kc-css-system
}
body.kc-css-system .kc-css-250817.kc_row_psedue:after {
    display: none;
}
body.kc-css-system .kc-css-476107 {
    padding-right: 0px;
    padding-left: 0px;
}
body.kc-css-system .kc-css-426237 {
    padding-top: 140px;
    padding-right: 10px;
    padding-left: 15px;
    width: 820px;
}
body.kc-css-system .kc-css-562990.kc_title,
body.kc-css-system .kc-css-562990 .kc_title,
body.kc-css-system .kc-css-562990 .kc_title a.kc_title_link {
    font-family: Poppins;
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 40px;
}
body.kc-css-system .kc-css-568461,
body.kc-css-system .kc-css-568461 p {
    color: #ffffff;
    font-family: Roboto;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
}
body.kc-css-system .kc-css-568461 {
    padding-right: 100px;
}
body.kc-css-system .kc-css-568461 p {
    margin-bottom: 40px;
}
body.kc-css-system .kc-css-999851 .kc_button {
    color: #ffffff;
    background: linear-gradient(#81ee8e, #00cafd);
    font-family: Poppins;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    box-shadow: 0px 15px 50px 0px rgba(0, 27, 103, 0.3);
    border-radius: 100px 100px 100px 100px;
    padding: 17px 40px 17px 40px;
    margin-bottom: 40px;
}
body.kc-css-system .kc-css-999851 {
    text-align: left;
}
body.kc-css-system .kc-css-999851 .kc_button:hover {
    font-size: 17px;
    color: #ffffff;
    background: linear-gradient(#00c9fd, #81ee8e);
}
body.kc-css-system .kc-css-73900,
body.kc-css-system .kc-css-73900 p {
    color: #ffffff;
    font-family: Roboto;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
}
body.kc-css-system .kc-css-73900,
body.kc-css-system .kc-css-73900 a {
    color: #ffffff;
}
body.kc-css-system .kc-css-73900 {
    padding-right: 80px;
}
body.kc-css-system .kc-css-73900 p {
    margin-bottom: 20px;
}
body.kc-css-system .kc-css-591493 {
    text-align: left;
}
body.kc-css-system .kc-css-591493 img {
    width: 100px;
    height: 100px;
    max-width: 100px;
}
body.kc-css-system .kc-css-591493 .kc-image-overlay i {
    font-size: 90px;
    width: 100px;
    height: 100px;
}
body.kc-css-system .kc-css-810765.kc_single_image {
    width: 787px;
}
body.kc-css-system .kc-css-810765 {
    display: initial;
    position: absolute;
    top: 76px;
    right: -370px;
}
body.kc-css-system .kc-css-536005 {
    background: #f5f7fb;
    padding-top: 80px;
    padding-bottom: 80px;
}
body.kc-css-system .kc-css-425882 {
    text-align: right;
    position: absolute;
    left: -80px;
}
body.kc-css-system .kc-css-425882 img {
    margin-top: -30px;
}
body.kc-css-system .kc-css-221588.kc_title,
body.kc-css-system .kc-css-221588 .kc_title,
body.kc-css-system .kc-css-221588 .kc_title a.kc_title_link {
    color: #0f1863;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 28px;
}
body.kc-css-system .kc-css-998778,
body.kc-css-system .kc-css-998778 p {
    color: #525f7f;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
}
body.kc-css-system .kc-css-998778 p {
    margin-bottom: 40px;
}
body.kc-css-system .kc-css-318704 .about-list ul li {
    color: #525f7f;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
}
body.kc-css-system body.kc-css-system .kc-css-37174 {
    padding-top: 80px;
    padding-bottom: 80px;
}
body.kc-css-system .kc-css-802234 {
    padding-right: 30px;
}
body.kc-css-system .kc-css-811655.kc_title,
body.kc-css-system .kc-css-811655 .kc_title,
body.kc-css-system .kc-css-811655 .kc_title a.kc_title_link {
    color: #0f1863;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    padding-top: 10px;
    padding-right: 70px;
    margin-bottom: 28px;
}
body.kc-css-system .kc-css-598808,
body.kc-css-system .kc-css-598808 p {
    color: #535e72;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
}
body.kc-css-system .kc-css-598808 {
    padding-right: 70px;
}
body.kc-css-system .kc-css-598808 p {
    margin-bottom: 40px;
}
body.kc-css-system .kc-css-611929 {
    margin-left: -80px;
    width: 115%;
}
body.kc-css-system .kc-css-948631 .single-advance h2 {
    color: #32325d;
}
body.kc-css-system .kc-css-948631 .single-advance:hover h2 {
    color: #32325d;
}
body.kc-css-system .kc-css-948631 .single-advance p {
    color: #525f7f;
    font-family: Roboto;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
}
body.kc-css-system .kc-css-948631 .single-advance span {
    color: #0093f2;
}
body.kc-css-system .kc-css-948631 .single-advance:hover {
    background: #f5f7fb;
}
body.kc-css-system .kc-css-757157 .single-advance h2 {
    color: #32325d;
}
body.kc-css-system .kc-css-757157 .single-advance:hover h2 {
    color: #32325d;
}
body.kc-css-system .kc-css-757157 .single-advance p {
    color: #525f7f;
    font-family: Roboto;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
}
body.kc-css-system .kc-css-757157 .single-advance span {
    color: #0093f2;
}
body.kc-css-system .kc-css-757157 .single-advance:hover {
    background: #f5f7fb;
}
body.kc-css-system .kc-css-207774 .single-advance h2 {
    color: #32325d;
}
body.kc-css-system .kc-css-207774 .single-advance:hover h2 {
    color: #32325d;
}
body.kc-css-system .kc-css-207774 .single-advance p {
    color: #525f7f;
    font-size: 17px;
    line-height: 29px;
    font-weight: 300;
}
body.kc-css-system .kc-css-207774 .single-advance span {
    color: #0093f2;
}
body.kc-css-system .kc-css-207774 .single-advance:hover {
    background: #f5f7fb;
}
body.kc-css-system .kc-css-606041 .single-advance h2 {
    color: #32325d;
    line-height: 28px;
}
body.kc-css-system .kc-css-606041 .single-advance:hover h2 {
    color: #32325d;
}
body.kc-css-system .kc-css-606041 .single-advance p {
    color: #525f7f;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}
body.kc-css-system .kc-css-606041 .single-advance span {
    color: #0093f2;
}
body.kc-css-system .kc-css-606041 .single-advance:hover {
    background: #f5f7fb;
}
body.kc-css-system .kc-css-612205 {
    background: #f5f7fb;
    padding-top: 60px;
    padding-bottom: 60px;
}
body.kc-css-system .kc-css-993536.kc_title,
body.kc-css-system .kc-css-993536 .kc_title,
body.kc-css-system .kc-css-993536 .kc_title a.kc_title_link {
    color: #0f1863;
    font-family: Poppins;
    font-size: 30px;
    text-align: center;
}
body.kc-css-system .kc-css-334152 {
    margin-top: 20px;
}
body.kc-css-system .kc-css-107514 {
    font-weight: 300;
    background: #ffffff;
    margin-top: 60px;
}
body.kc-css-system .kc-css-686030 {
    color: #525f7f;
    font-size: 17px;
    font-weight: 300 !important;
    font-family: Roboto;
}
body.kc-css-system .kc-css-801684.kc_title,
body.kc-css-system .kc-css-801684 .kc_title,
body.kc-css-system .kc-css-801684 .kc_title a.kc_title_link {
    text-align: center;
}
body.kc-css-system .kc-css-393989 {
    color: #525f7f;
    font-size: 17px;
    font-weight: 300;
    font-family: Roboto;
    background: #ffffff;
}
@media only screen and (max-width:1024px) {
    body.kc-css-system .kc-css-426237 {
        padding-left: 45px;
        width: 60%;
    }
    
    body.kc-css-system .kc-css-562990.kc_title,
    body.kc-css-system .kc-css-562990 .kc_title,
    body.kc-css-system .kc-css-562990 .kc_title a.kc_title_link {
        font-size: 43px;
        line-height: 57px;
    }
    
    body.kc-css-system .kc-css-568461 {
        padding-right: 0px;
    }
    
    body.kc-css-system .kc-css-73900 {
        padding-right: 0px;
    }
    
    body.kc-css-system .kc-css-810765.kc_single_image {
        width: 630px;
    }
    
    body.kc-css-system .kc-css-810765 {
        top: 70px;
        right: -225px;
    }
    
    body.kc-css-system .kc-css-611929 {
        margin-left: -20px;
        width: 110%;
    }
}
@media only screen and (max-width:999px) {
    body.kc-css-system .kc-css-426237 {
        padding-top: 0px;
        padding-left: 20px;
        width: 66%;
    }
    
    body.kc-css-system .kc-css-562990.kc_title,
    body.kc-css-system .kc-css-562990 .kc_title,
    body.kc-css-system .kc-css-562990 .kc_title a.kc_title_link {
        font-size: 35px;
        line-height: 47px;
    }
    
    body.kc-css-system .kc-css-568461 {
        padding-right: 20px;
    }
    
    body.kc-css-system .kc-css-73900 {
        padding-right: 20px;
    }
    
    body.kc-css-system .kc-css-810765.kc_single_image {
        width: 480px;
    }
    
    body.kc-css-system .kc-css-810765 {
        top: -36px;
        bottom: initial;
        right: -182px;
    }
    
    body.kc-css-system .kc-css-811655.kc_title,
    body.kc-css-system .kc-css-811655 .kc_title,
    body.kc-css-system .kc-css-811655 .kc_title a.kc_title_link {
        font-size: 29px;
        line-height: 40px;
        padding-top: 13px;
    }
}
@media only screen and (max-width:767px) {
    body.kc-css-system .kc-css-426237 {
        padding-top: 170px;
        padding-bottom: 90px;
    }
    
    body.kc-css-system .kc-css-562990.kc_title,
    body.kc-css-system .kc-css-562990 .kc_title,
    body.kc-css-system .kc-css-562990 .kc_title a.kc_title_link {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 26px;
    }
    
    body.kc-css-system .kc-css-810765.kc_single_image {
        width: 380px;
    }
    
    body.kc-css-system .kc-css-810765 {
        top: 165px;
        bottom: initial;
        right: -90px;
    }
    
    body.kc-css-system .kc-css-536005 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    body.kc-css-system .kc-css-425882 {
        display: none;
    }
    
    body.kc-css-system .kc-css-221588.kc_title,
    body.kc-css-system .kc-css-221588 .kc_title,
    body.kc-css-system .kc-css-221588 .kc_title a.kc_title_link {
        font-size: 30px;
        text-align: center;
    }
    
    body.kc-css-system .kc-css-998778,
    body.kc-css-system .kc-css-998778 p {
        text-align: center;
    }
    
    body.kc-css-system .kc-css-37174 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    body.kc-css-system .kc-css-811655.kc_title,
    body.kc-css-system .kc-css-811655 .kc_title,
    body.kc-css-system .kc-css-811655 .kc_title a.kc_title_link {
        font-size: 30px;
        text-align: center;
    }
    
    body.kc-css-system .kc-css-598808,
    body.kc-css-system .kc-css-598808 p {
        text-align: center;
    }
    
    body.kc-css-system .kc-css-611929 {
        margin-left: 0px;
        width: 100%;
    }
    
    body.kc-css-system .kc-css-912030 {
        width: 50%;
    }
    
    body.kc-css-system .kc-css-201329 {
        width: 50%;
    }
    
    body.kc-css-system .kc-css-612205 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
@media only screen and (max-width:479px) {
    body.kc-css-system .kc-css-250817 {
        margin-top: -0px;
    }
    
    body.kc-css-system .kc-css-426237 {
        padding-top: 170px;
        width: 100%;
    }
    
    body.kc-css-system .kc-css-562990.kc_title,
    body.kc-css-system .kc-css-562990 .kc_title,
    body.kc-css-system .kc-css-562990 .kc_title a.kc_title_link {
        color: #0f1863;
        font-family: Poppins;
        font-size: 40px;
        font-weight: 700;
        line-height: 45px;
        padding-right: 0px;
        margin-bottom: 26px;
    }
    
    body.kc-css-system .kc-css-568461,
    body.kc-css-system .kc-css-568461 p {
        font-weight: 300;
    }
    
    body.kc-css-system .kc-css-568461 {
        padding-right: 0px;
    }
    
    body.kc-css-system .kc-css-73900 {
        padding-right: 0px;
    }
    
    body.kc-css-system .kc-css-810765 {
        display: none;
    }
    
    body.kc-css-system .kc-css-536005 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    body.kc-css-system .kc-css-425882 {
        display: none;
    }
    
    body.kc-css-system .kc-css-221588.kc_title,
    body.kc-css-system .kc-css-221588 .kc_title,
    body.kc-css-system .kc-css-221588 .kc_title a.kc_title_link {
        font-size: 30px;
        text-align: center;
    }
    
    body.kc-css-system .kc-css-998778,
    body.kc-css-system .kc-css-998778 p {
        text-align: center;
    }
    
    body.kc-css-system .kc-css-37174 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    body.kc-css-system .kc-css-811655.kc_title,
    body.kc-css-system .kc-css-811655 .kc_title,
    body.kc-css-system .kc-css-811655 .kc_title a.kc_title_link {
        color: #0f1863;
        font-family: Poppins;
        font-size: 30px;
        line-height: 42px;
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
    }
    
    body.kc-css-system .kc-css-598808,
    body.kc-css-system .kc-css-598808 p {
        color: #535e72;
        font-family: Roboto;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        text-align: center;
    }
    
    body.kc-css-system .kc-css-598808 {
        padding-right: 0px;
        padding-left: 0px;
    }
    
    body.kc-css-system .kc-css-611929 {
        margin-top: 30px;
    }
    
    body.kc-css-system .kc-css-912030 {
        width: 100%;
    }
    
    body.kc-css-system .kc-css-757157 .single-advance {
        margin-top: 0px;
    }
    
    body.kc-css-system .kc-css-201329 {
        width: 100%;
    }
    
    body.kc-css-system .kc-css-612205 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    body.kc-css-system .kc-css-334152 {
        margin-top: 10px;
    }
}