* {
    box-sizing: border-box;
    max-width: 100%;
}

body,
html {
    position: relative;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: #efefef;
    overflow: hidden;
    margin: 0;
}

a:visited,
a:link {
    color: #0056b3;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

button,
input[type='submit'] {
    font-family: inherit;
}

.container {
    width: 50rem;
    height: 28rem;
    box-shadow: 2px 3px 7px 3px #00000014;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-perspective: 100rem;
    perspective: 100rem;
    border-radius: 10px;
    background: #FFFFFF;
}

.side-1 {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(#FCAF58), color-stop(50%, #FF8C42), to(#bb4d05));
    background-image: linear-gradient(90deg, #00a9d8 0%, #00a9d8 50%, #ffffff 100%);
    border-radius: 10px;
    border-radius: 10px 0 0 10px;
    right: 50%;
}

.side-2 {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-origin: 0%;
    transform-origin: 0%;
    left: 50%;
    background-image: -webkit-gradient(linear, left top, right top, from(#bb4d05), color-stop(50%, #FF8C42), to(#FCAF58));
    background-image: linear-gradient(90deg, #ffffff 0%, #00a9d8 50%, #00a9d8 100%);
    border-radius: 0 10px 10px 0;
}

.side-1,
.side-2 {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-size: 200%;
    width: 50%;
    height: 100%;
    position: absolute;
    -webkit-transition: 1200ms;
    transition: 1200ms;
    box-shadow: inset 0px 0px 100px 7px #e0660059;
    z-index: 10;
}

.header {
    position: absolute;
    color: #FFFFFF;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    text-shadow: 2px 1px 2px #0000007d;
}

.toggle-log {
    background: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    margin: 1rem auto;
    border: none;
    padding: .4rem 1rem;
    font-size: 1rem;
    font-family: inherit;
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    outline: none;
}

.toggle-log:hover {
    background: #FFFFFF;
    color: #00a9d8;
    border: 1px solid #FFFFFF;
    outline: none;
}

.toggle-log:focus {
    border: 1px solid #FFFFFF;
    outline: none;
}

.sign-in {
    width: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    top: 50%;
    text-align: center;
}

.sign-in fieldset.block {
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
    opacity: 0;
}

.sign-up {
    width: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    top: 50%;
    text-align: center;
}

.sign-up fieldset.block {
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
    opacity: 0;
}

.log-buttons {
    margin-top: 1rem;
}

.log-btn {
    display: inline-block;
    border: 1px solid #c7c7c7;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: relative;
    -webkit-transition: 200ms;
    transition: 200ms;
    margin: 0 1rem;
}

.log-btn:hover {
    cursor: pointer;
    border: 1px solid transparent;
}

.log-btn:hover::before {
    color: white;
}

.log-btn::before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    display: inline-block;
    font-size: 1rem;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.log-fb::before {
    content: "\f39e";
    color: #3b5998;
}

.log-gp::before {
    content: "\f0d5";
    color: #d34836;
}

.log-li::before {
    content: "\f0e1";
    color: #0077b5;
}

.log-fb:hover {
    background: #3b5998;
}

.log-gp:hover {
    background: #d34836;
}

.log-li:hover {
    background: #0077b5;
}

.log-buttons a:visited,
.log-buttons a:link {
    text-decoration: none;
}

.input-text {
    display: block;
    margin: 1rem auto;
    border: none;
    background: #4e598c2b;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-family: inherit;
}

.input-submit {
    display: block;
    margin: 1rem auto;
    border: none;
    padding: .4rem 1rem;
    font-size: 1rem;
    font-family: inherit;
    background: #00a9d8;
    border: 1px solid #00a9d8;
    color: #FFFFFF;
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    border-radius: 25px;
    cursor: pointer;
}

.input-submit:hover {
    background: #FFFFFF;
    color: #00a9d8;
}

fieldset {
    border: none;
    position: relative;
    -webkit-transition: 1000ms ease;
    transition: 1000ms ease;
}

fieldset.block:after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: transparent;
}

.input-group-text {
    border-radius: 20px;
    margin: 1rem auto;
    border: none;
    background: #e1e3ec;
    padding: 11.3px 1rem;
    cursor: pointer;
}

.card-header {
    background-color: #2ea3bb;
    border-radius: 25px 25px 0px 0px;
    -moz-border-radius: 25px 25px 0px 0px;
    -webkit-border-radius: 25px 25px 0px 0px;
    border: 0px solid #000000;
}

.card-body {
    border-radius: 0px 0px 25px 25px;
    -moz-border-radius: 0px 0px 25px 25px;
    -webkit-border-radius: 0px 0px 25px 25px;
    border: 0px solid #000000;
}

.card {
    border-radius: 25px;
}

.button {
    background-color: transparent;
}

.center {
    text-align: center;
    outline: none;
}

body {
    font-family: Arial;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
th,
A {
    font-weight: 400;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 1rem;
    font-weight: 400;
}

.form-control {
    resize: none;
    border-radius: 25px;
}

.header {
    position: absolute;
    color: #FFFFFF;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    text-shadow: 2px 1px 2px #0000007d;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.form-control {
    resize: none;
    border-radius: 25px;
}

.aqua-gradient {
    background: linear-gradient(10deg, #00a9d8, #006697) !important;
}

.testimonial-card .card-up {
    height: 75px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card {
    border-radius: 10px;
}

.swal-modal {
    width: 478px;
    opacity: 0;
    pointer-events: none;
    background-color: #fff;
    text-align: center;
    border-radius: 15px!important;
    position: static;
    margin: 20px auto;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 10001;
    transition: opacity .2s, -webkit-transform .3s;
    transition: transform .3s, opacity .2s;
    transition: transform .3s, opacity .2s, -webkit-transform .3s;
}

.swal-button {
    background-color: #00a9d8;
    color: #FFFF;
    border: 1px solid #00a9d8!important;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    padding: 9px 25px;
    margin: 0;
    cursor: pointer;
}

.swal-button:not([disabled]):hover {
    background-color: #FFFF;
    color: #00a9d8;
}

.swal-button:active {
    background-color: #00a9d8;
    border: none;
}

.swal-button:focus {
    outline: none;
    box-shadow: 0 0 0 1px #fff0, 0 0 0 3px rgb(0 0 0 / 0%)!important;
}

.swal-icon--success__ring {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(37, 204, 70, 0.322);
    ;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}

.swal-icon--success__line {
    height: 5px;
    background-color: #25CC46;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

.swal-icon--success__line {
    height: 5px;
    background-color: #25CC46;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

.swal-icon--warning {
    border-color: #DC3545!important;
    -webkit-animation: pulseWarning .75s infinite alternate;
    animation: pulseWarning .75s infinite alternate;
}

.swal-icon--warning__body,
.swal-icon--warning__dot {
    position: absolute;
    left: 50%;
    background-color: #DC3545!important;
}

.swal-icon--warning__dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: -3px;
    bottom: -11px;
}