.tim-row {
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}

.typography-line {
    padding-left: 25%;
    margin-bottom: 35px;
    position: relative;
    display: block;
    width: 100%;
}

.typography-line span {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    position: absolute;
    width: 260px;
    text-transform: none;
}

.tim-row {
    padding-top: 60px;
}

.tim-row h3 {
    margin-top: 0;
}

.offline-doc .page-header {
    display: flex;
    align-items: center;
}

.offline-doc .footer {
    position: absolute;
    width: 100%;
    background: transparent;
    bottom: 0;
    color: #fff;
    z-index: 1;
}

#map {
    position: relative;
    width: 100%;
    height: 100vh;
}

.panel-header {
    height: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #141e30;
    background: linear-gradient(90deg, #0c2646 0, #204065 60%, #2a5788);
    position: relative;
    overflow: hidden;
}

.Green-Text3 {
    color: white;
    background-color: #1673ba;
    border-radius: 45px;
}

.Green-Text2 {
    color: white;
    background-color: #eb3c00;
    border-radius: 45px;
}

.Green-Text1 {
    color: white;
    background-color: #007dc6;
    border-radius: 45px;
}

.ButtonDesign2 {
    padding: 5px 10px;
    background-color: transparent;
    color: #1673ba;
    border: 2px solid #1673ba;
    border-radius: 45px;
    outline: none;
}

.ButtonDesign2:hover {
    background-color: #1673ba;
    color: white;
    outline: none;
}

.ButtonDesign3 {
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}

.ButtonDesign4 {
    background-color: transparent;
    color: #eb3c00;
    border: 2px solid #eb3c00;
    border-radius: 45px;
    outline: none;
}

.ButtonDesign4:hover {
    background-color: #eb3c00;
    color: white;
    outline: none;
}

.ButtonDesign5 {
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}

.ButtonDesign6 {
    background-color: transparent;
    color: #007dc6;
    border: 2px solid #007dc6;
    border-radius: 45px;
    outline: none;
}

.ButtonDesign6:hover {
    background-color: #007dc6;
    color: white;
    outline: none;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.view-cascade {
    border-radius: 20px;
    background-color: #f8f8f8;
}

.view-cascade:hover {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
    border-radius: 20px;
    background-color: #f8f8f8;
}

.card-cascade {
    transition: all 0.2s ease;
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

.card-cascade:hover {
    transform: scale(1.05);
    border-radius: 15px;
    box-shadow: 15px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

.card-cascade:hover .deco-layer--1 {
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
    border-radius: 15px;
    box-shadow: 15px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

.card-cascade:hover .deco-layer--2 {
    -webkit-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0);
    border-radius: 15px;
    box-shadow: 15px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

.profile-img {
    width: 50px;
    height: 50px;
    margin: 0 auto 0px;
    display: block;
    position: absolute;
    left: 0px;
    top: 10px;
}

.profile {
    background-color: #e0e0e0;
    width: 70px;
    height: 70px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%;
    border: 2px solid #00791f;
}

.card {
    border-radius: 15px;
}

.Green-text {
    color: white;
    background-color: #00791f;
    border-radius: 45px;
}

.Design {
    border: none;
    color: #00791f;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}

.Design1 {
    background-color: transparent;
    color: #00791f;
    border: 2px solid #00791f;
    border-radius: 45px;
    outline: none;
}

.Design1:hover {
    background-color: #00791f;
    color: white;
    outline: none;
}

.rgba-black-strong {
    border-radius: 20px;
    transition: all 0.2s ease;
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

.rgba-black-strong:hover {
    transform: scale(1.05);
    border-radius: 20px;
    box-shadow: 15px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

.rgba-black-strong:hover .deco-layer--1 {
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
    border-radius: 20px;
    box-shadow: 15px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

.rgba-black-strong:hover .deco-layer--2 {
    -webkit-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0);
    border-radius: 20px;
    box-shadow: 15px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: 0px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: calc(0rem + 4px);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #18ce0f;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.off-canvas-sidebar[data-color=blue] .nav li.active>a:not([data-toggle=collapse]),
.off-canvas-sidebar[data-color=blue] .nav li.active>a:not([data-toggle=collapse]) i,
.sidebar[data-color=blue] .nav li.active>a:not([data-toggle=collapse]),
.sidebar[data-color=blue] .nav li.active>a:not([data-toggle=collapse]) i {
    color: white;
}

.off-canvas-sidebar .nav li.active>a:not([data-toggle=collapse]),
.sidebar .nav li.active>a:not([data-toggle=collapse]) {
    background-color: #0981c4;
    box-shadow: 0 1px 15px 1px rgba(39, 39, 39, .1);
}

.form-control {
    background-color: transparent;
    border: 1px solid #e3e3e3;
    border-radius: 30px;
    color: #2c2c2c;
    line-height: normal;
    height: 35px;
    font-size: 15px;
    transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
    box-shadow: none;
}

.card-title,
.btn,
.p {
    font-family: 'Noto Sans JP', sans-serif;
}

.white-text {
    font-family: 'Noto Sans JP', sans-serif;
}

.modal-content {
    border-radius: 10px;
    border: none;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, .5);
}

.switch2 {
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
    top: 6px;
    right: 10px;
}

.switch2::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch2.active {
    background: orange;
    color: #000;
}

.switch2.active::after {
    right: 0;
    left: unset;
}

.switch2 span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

.fa-user-circle {
    font-size: 30px;
}

.text {
    display: inline-block;
    margin-left: .355em;
    vertical-align: .355em;
}

.dropbtn {
    background-color: transparent;
    padding: 2px 8px 0px;
    font-size: 15px;
    border: 0px;
    cursor: pointer;
    outline: none !important;
}

.dropbtn:hover {
    background-color: transparent;
    color: white;
    padding: 2px 8px 0px;
    font-size: 15px;
    border: 0px;
    cursor: pointer;
    outline: none !important;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    margin-bottom: 5px;
    outline: none !important;
}

.bootstrap-select .dropdown-menu.inner li a:focus,
.bootstrap-select .dropdown-menu.inner li a:hover,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover {
    background-color: #285280;
    color: white;
    font-size: 14px;
    font-size: 100%;
}

.navbar.bg-white .input-group .form-control,
.navbar.bg-white .input-group.no-border .form-control,
.navbar a.dropdown-item {
    color: black;
    font-size: 14px;
    font-size: 100%;
}

.dropdown-menu.bootstrap-datetimepicker-widget.bottom.open,
.dropdown.show .dropdown-menu:not(.inner),
.navbar .dropdown.show .dropdown-menu {
    transform: translate3d(0, 1px, 0)!important;
    border-radius: 10px;
}

.Btn1 {
    background-color: #eceff1;
    border: 2px solid #2e7d32;
    color: black;
    border-radius: 45px;
}

.Btn1:hover {
    background-color: #2e7d32;
    color: white;
    border: 2px solid #2e7d32;
}

.Btn2 {
    background-color: #eceff1;
    border: 2px solid #1565c0;
    color: black;
    border-radius: 45px;
}

.Btn2:hover {
    background-color: #1565c0;
    color: white;
    border: 2px solid #1565c0;
}

.Btn3 {
    background-color: #eceff1;
    border: 2px solid #cb101c;
    color: black;
    border-radius: 45px;
}

.Btn3:hover {
    background-color: #cb101c;
    color: white;
    border: 2px solid #cb101c;
}

.swal-modal {
    width: 478px;
    opacity: 0;
    pointer-events: none;
    background-color: #fff;
    text-align: center;
    border-radius: 15px!important;
    position: static;
    margin: 20px auto;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 10001;
    transition: opacity .2s, -webkit-transform .3s;
    transition: transform .3s, opacity .2s;
    transition: transform .3s, opacity .2s, -webkit-transform .3s;
}

.swal-button {
    background-color: #00a9d8;
    color: #FFFF;
    border: 1px solid #00a9d8!important;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    padding: 9px 25px;
    margin: 0;
    cursor: pointer;
}

.swal-button:not([disabled]):hover {
    background-color: #FFFF;
    color: #00a9d8;
}

.swal-button:active {
    background-color: #00a9d8;
    border: none;
}

.swal-button:focus {
    outline: none;
    box-shadow: 0 0 0 1px #fff0, 0 0 0 3px rgb(0 0 0 / 0%)!important;
}

.swal-icon--success__ring {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(37, 204, 70, 0.322);
    ;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}

.swal-icon--success__line {
    height: 5px;
    background-color: #25CC46;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

.swal-icon--success__line {
    height: 5px;
    background-color: #25CC46;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

.swal-icon--warning {
    border-color: #DC3545!important;
    -webkit-animation: pulseWarning .75s infinite alternate;
    animation: pulseWarning .75s infinite alternate;
}

.swal-icon--warning__body,
.swal-icon--warning__dot {
    position: absolute;
    left: 50%;
    background-color: #DC3545!important;
}

.swal-icon--warning__dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: -3px;
    bottom: -11px;
}